#navbar {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
}

.nav-item {
  color: #1d6fbb;
  text-decoration: none;
}

.btn {
  color: white;
  background-color: #1d6fbb;
  border: 5px solid transparent;
  transition: 0.2s ease;
  border-radius: 50px;
}

.btn:hover {
  color: #1d6fbb;
  background-color: white;
  transform: scale(1.1);
  border: 5px solid #1d6fbb;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.featurette-heading {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  text-align: right;
  color: #1d6fbb;
}

.lead {
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  line-height: 40px;
  text-align: right;
  color: #5b5b5b;
}

.footer{
  font-family: 'Anton', sans-serif;
	font-style: normal;
  font-weight: regular;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	align-items: center;
	color: #5a5a5a;
  }
  
/*gezilecek-yerler*/
.jumbotron-billboard .img {
  margin-bottom: 0px;
  opacity: 0.;
  color: #fff;
  background: #000 url("./images/carousel-2.jpg") top center no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.jumbotron h2 {
  margin-top: 0;
}
.jumbotron {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.jumbotron .container {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*card*/
.card1 {
  background: rgba(29, 111, 187, 0.45);
  font-family: 'Prompt', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
  line-height: 35px;
}

.card-title{
  font-family: 'Anton', sans-serif;
}

/*-- ============================ Carousel  ============================ --*/
.carousel {
  height: 600px; 
  object-fit: cover;
}

.text-halfeti{
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #000;
}

/*-- ============================ Galeri  ============================ --*/
#container-catolog {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #04c273;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
/*-- ============================ Gezilecek yerler ============================ --*/
.text {
  font-family: Viga;
  font-weight: 100;
  font-size: 40px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #1d6fbb;
}

.place {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
  color: #1d6fbb;
}

.card2 {
  margin: 10px;
  padding: 0px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}