@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Prompt&family=Saira+Condensed&display=swap');
:root {
  --wesbos: #0d66b9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1592064064956-30807b590c08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Prompt", sans-serif;
  color: #fff;
  opacity: 0.9;
}
.nav-item{
  text-transform: uppercase;
  font-weight: bolder;
  border: 1px #0d66b9 solid;
}

.item {
  display: flex;
  align-items: center;
  margin: 50px;
}
.item__title {
    font-size: 25px;
    color: var(--wesbos);
    letter-spacing: 2px;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: #1d6fbb;
    text-shadow: 0px 0px 25px #131618;
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .item__dots {
    flex: 1;
    border-bottom: 1px dashed #eee;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item__price {
    color: var(--wesbos);
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    text-shadow: 0px 0px 25px #131618;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item__description {
    margin-bottom: 40px; 
    color: #eee;
    font-family: "Prompt", sans-serif;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .item__description span{
    color: #322c2900;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.item__drinks{
  color: #0d66b9;
  font-weight: 700;
  font-family:  "Prompt", sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
}
